{extend name="public/base"}
		{block name="heads"}
		<!-- Font Family -->
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

		<!-- Sidemenu Css -->
		<link href="__STATIC__\plugins\fullside-menu\css\style.css" rel="stylesheet">
		<link href="__STATIC__\plugins\fullside-menu\waves.min.css" rel="stylesheet">

		<!-- Dashboard Css -->
		<link href="__STATIC__\acss\dashboard.css" rel="stylesheet">

		<!-- c3.js Charts Plugin -->
		<link href="__STATIC__\plugins\charts-c3\c3-chart.css" rel="stylesheet">

		<!-- Custom scroll bar css-->
		<link href="__STATIC__\plugins\scroll-bar\jquery.mCustomScrollbar.css" rel="stylesheet">

		<!---Font icons-->
		<link href="__STATIC__\acss\icons.css" rel="stylesheet">
	</head>
	<body class="">
		<div id="global-loader"></div>
		<div class="page">
			<div class="page-main">
				{/block}	
		{block name="others"}
					<div class=" content-area">
						<div class="page-header">
							<h4 class="page-title">Blogs</h4>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Pages</a></li>
								<li class="breadcrumb-item active" aria-current="page">Blog</li>
							</ol>
						</div>

						<div class="row row-cards row-deck">
							<div class="col-md-12 col-lg-12 col-xl-4">
								<div class="card">
									<img class="card-img-top br-tr-7 br-tl-7" src="__STATIC__\aimages\photos\19.jpeg" alt="Card image cap">
									<div class="card-header">
									    <h5 class="card-title">Blog title </h5>
									</div>
									<div class="card-body">
									   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									   <a href="#" class="float-right">Read more <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>

							<div class="col-md-12 col-lg-12 col-xl-4">
								<div class="card">
									<img class="card-img-top br-tr-7 br-tl-7" src="__STATIC__\aimages\photos\12.jpeg" alt="Card image cap">
									<div class="card-header">
									   <h5 class="card-title">Blog title</h5>
									</div>
									<div class="card-body">
									   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									   <a href="#" class="float-right text-info">Read more <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<div class="card ">
									<img class="card-img-top br-tr-7 br-tl-7" src="__STATIC__\aimages\photos\17.jpeg" alt="Card image cap">
									<div class="card-header">
									   <h5 class="card-title">Blog title</h5>
									</div>
									<div class="card-body">
									   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									   <a href="#" class="float-right text-success">Read more <i class="fa fa-angle-double-right"></i></a>
									</div>
								</div>
							</div>
						    <div class="col-md-12 col-lg-12 col-xl-4">
								<div class="card">
									<img class="card-img-top br-tr-7 br-tl-7 " src="__STATIC__\aimages\photos\20.jpeg" alt="Card image cap">
									<div class="card-header">
										<h5 class="card-title">Blog title</h5>
									</div>
									<div class="card-body">
									   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									   <a href="" class="btn btn-primary btn-md">Read more</a>
									</div>
								</div>
                            </div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<div class="card ">
									<img class="card-img-top br-tr-7 br-tl-7 " src="__STATIC__\aimages\photos\23.jpeg" alt="Card image cap">
									<div class="card-header">
										<h5 class="card-title">Blog title</h5>
									</div>
									<div class="card-body">
									   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									   <a href="" class="btn btn-warning btn-md">Read more</a>
									</div>
								</div>
                            </div>
							<div class="col-md-12 col-lg-12 col-xl-4">
								<div class="card ">
									<img class="card-img-top br-tr-7 br-tl-7 " src="__STATIC__\aimages\photos\22.jpeg" alt="Card image cap">
									<div class="card-header">
										<h5 class="card-title">Blog title</h5>
									</div>
									<div class="card-body">
									   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									   <a href="" class="btn btn-info btn-md">Read more</a>
									</div>
								</div>
                            </div>

							<div class="col-sm-6 col-xl-3">
								<div class="card">
									<a href="#"><img class="card-img-top br-tr-7 br-tl-7" src="__STATIC__\aimages\photos\13.jpeg" alt="And this isn&#39;t my nose. This is a false one."></a>
									<div class="card-body d-flex flex-column">
										<h4><a href="#">voluptatem quia voluptas.</a></h4>
										<div class="text-muted">To take a trivial example, which of us ever undertakes laborious physical exerciser , except to obtain some advantage from it...</div>
										<div class="d-flex align-items-center pt-5 mt-auto">
											<div class="avatar brround avatar-md mr-3" style="background-image: url(__STATIC__\aimages/faces/female/18.jpeg)"></div>
											<div>
												<a href="profile.html" class="text-default">Megan Peters</a>
												<small class="d-block text-muted">1 days ago</small>
											</div>
											<div class="ml-auto text-muted">
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fa fa-thumbs-o-up"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xl-3">
								<div class="card">
									<a href="#"><img class="card-img-top br-tr-7 br-tl-7" src="__STATIC__\aimages\photos\14.jpeg" alt="Well, I didn&#39;t vote for you."></a>
									<div class="card-body d-flex flex-column">
										<h4><a href="#">voluptatem quia voluptas.</a></h4>
										<div class="text-muted">Who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces.</div>
										<div class="d-flex align-items-center pt-5 mt-auto">
											<div class="avatar brround avatar-md mr-3" style="background-image: url(__STATIC__\aimages/faces/male/16.jpeg)"></div>
											<div>
												<a href="profile.html" class="text-default">Anna Ogden</a>
												<small class="d-block text-muted">2 days ago</small>
											</div>
											<div class="ml-auto text-muted">
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fa fa-thumbs-o-up"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xl-3">
								<div class="card">
									<div class="card-body d-flex flex-column">
										<h4><a href="#">voluptatem quia voluptas</a></h4>
										<div class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque...</div>
										<div class="d-flex align-items-center pt-5 mt-auto">
											<div class="avatar  brround avatar-md mr-3" style="background-image: url(__STATIC__\aimages/faces/male/26.jpeg)"></div>
											<div>
												<a href="profile.html" class="text-default">Carol Paige</a>
												<small class="d-block text-muted">2 days ago</small>
											</div>
											<div class="ml-auto text-muted">
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fa fa-thumbs-o-up"></i></a>
											</div>
										</div>
									</div>
									<a href="#"><img class="card-img-top br-br-7 br-bl-7" src="__STATIC__\aimages\photos\15.jpeg" alt="How do you know she is a witch?"></a>
								</div>
							</div>
							<div class="col-sm-6 col-xl-3">
								<div class="card">
									<div class="card-body d-flex flex-column">
										<h4><a href="#">voluptatem quia voluptas..</a></h4>
										<div class="text-muted">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut ..</div>
										<div class="d-flex align-items-center pt-5 mt-auto">
											<div class="avatar brround avatar-md mr-3" style="background-image: url(__STATIC__\aimages/faces/female/7.jpeg)"></div>
											<div>
												<a href="profile.html" class="text-default">Fiona Hodges</a>
												<small class="d-block text-muted">5 days ago</small>
											</div>
											<div class="ml-auto text-muted">
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fa fa-thumbs-o-up"></i></a>
											</div>
										</div>
									</div>
									<a href="#"><img class="card-img-top br-br-7 br-bl-7" src="__STATIC__\aimages\photos\16.jpeg" alt="Shut up!"></a>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="card card-aside">
									<a href="#" class="card-aside-column br-tl-7 br-bl-7" style="background-image: url(__STATIC__\aimages/photos/17.jpeg)"></a>
									<div class="card-body d-flex flex-column">
										<h4><a href="#">Generator on the Internet..</a></h4>
										<div class="text-muted">Excepteur sint occaecat cupidatat non proident, accusantium  sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
										<div class="d-flex align-items-center pt-5 mt-auto">
											<div class="avatar  brround avatar-md mr-3" style="background-image: url(__STATIC__\aimages/faces/female/18.jpeg)"></div>
											<div>
												<a href="profile.html" class="text-default">Anna Ogden</a>
												<small class="d-block text-muted">1 days ago</small>
											</div>
											<div class="ml-auto text-muted">
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fa fa-thumbs-o-up"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="card card-aside">
									<div class="card-body d-flex flex-column">
										<h4><a href="#">Nihil molestiae consequatur.</a></h4>
										<div class="text-muted">Many desktop publishing packages and web page editors now use  default model text, and a search for will uncover...</div>
										<div class="d-flex align-items-center pt-5 mt-auto">
											<div class="avatar  brround avatar-md mr-3" style="background-image: url(__STATIC__\aimages/faces/male/16.jpeg)"></div>
											<div>
												<a href="profile.html" class="text-default">Irene	Scott</a>
												<small class="d-block text-muted">2 days ago</small>
											</div>
											<div class="ml-auto text-muted">
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
												<a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fa fa-thumbs-o-up"></i></a>
											</div>
										</div>
									</div>
									<a href="#" class="card-aside-column br-br-7 br-tr-7" style="background-image: url(__STATIC__\aimages/photos/18.jpeg)"></a>
								</div>
							</div>
						</div>
                    </div>
				</div>
			</div>

			<!--footer-->
			<footer class="footer">
				<div class="container">
					<div class="row align-items-center flex-row-reverse">
						<div class="col-lg-12 col-sm-12 mt-3 mt-lg-0 text-center">
							Copyright © 2018 <a href="http://www.bootstrapmb.com/" title="bootstrapmb">adminor</a>. Designed by <a href="#">Spruko</a> All rights reserved.
						</div>
					</div>
				</div>
			</footer>
			<!-- End Footer-->
		</div>

		<!-- Back to top-->
		<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

		<!-- Dashboard Js -->
		{load file="__STATIC__\ajs\vendors\jquery-3.2.1.min.js"}
		{load file="__STATIC__\ajs\vendors\bootstrap.bundle.min.js"}
		{load file="__STATIC__\ajs\vendors\jquery.sparkline.min.js"}
		{load file="__STATIC__\ajs\vendors\selectize.min.js"}
		{load file="__STATIC__\ajs\vendors\jquery.tablesorter.min.js"}
		{load file="__STATIC__\ajs\vendors\circle-progress.min.js"}
		{load file="__STATIC__\plugins\rating\jquery.rating-stars.js"}

		<!-- Fullside-menu Js-->
		{load file="__STATIC__\plugins\fullside-menu\jquery.slimscroll.min.js"}
		{load file="__STATIC__\plugins\fullside-menu\waves.min.js"}

		<!-- Custom scroll bar Js-->
		{load file="__STATIC__\plugins\scroll-bar\jquery.mCustomScrollbar.concat.min.js"}

		<!-- Custom Js-->
		{load file="__STATIC__\ajs\custom.js"}
	</body>
</html>
{/block}