 {extend name="public/base"}
 {block name="main"}
    <!-- Hidden Bar -->
    <section class="hidden-bar right-align">
        
        <div class="hidden-bar-closer">
            <button class="btn"><i class="fa fa-close"></i></button>
        </div>
        <div class="hidden-bar-wrapper">
        
            <!-- .logo -->
            <div class="logo-box centerd">
                <a href="index.html"></a>
            </div>
            <div class="about-hidden-box">
                <div class="title"><h4>About Us</h4></div>
                <div class="text">We must explain to you how all seds this mistakens idea off denouncing pleasures and praising pain was born and I will give you a completed accounts off the system and expound the actually teaching of the great explorer ut of the truth, the master builder of human happiness.</div>
                <a href="#" class="btn-one btn-bg">More About</a>
            </div>
            <div class="contact-hidden-box">
                <div class="title"><h4>Contact Info</h4></div>
                <div class="single-item">
                    <div class="icon-box"><i class="fa fa-map-marker"></i></div>
                    <div class="text">68 Smithfield Avenue,<br /> Broadwalk</div>
                </div>
                <div class="single-item">
                    <div class="icon-box"><i class="fa fa-phone"></i></div>
                    <div class="text">+ (01) 735 264 9870</div>
                </div>
                <div class="single-item">
                    <div class="icon-box"><i class="fa fa-envelope"></i></div>
                    <div class="text">belfast@gmail.com</div>
                </div>
            </div>
            
        </div>
    </section><!-- / Hidden Bar end -->


    <!--Page Title-->
    <section class="page-title centred">
        <div class="container">
            <div class="text">Shop</div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- shop-page -->
    <section class="blog-side blog-style-one shop-page">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 content-side">
                    <div class="blog-details-content shop-details-content">
                        <div class="top-shop-content">
                            <div class="select-box">
                                <i class="fa fa-angle-down"></i>
                                <select class="text-capitalize selectpicker form-control required" name="form_subject" data-style="g-select" data-width="100%">
                                    <option value="0" selected="">SORT BY POPULARITY</option>
                                    <option value="1">SORT BY POPULARITY 01</option>
                                    <option value="2">SORT BY POPULARITY 02</option>
                                    <option value="3">SORT BY POPULARITY 03</option>
                                    <option value="4">SORT BY POPULARITY 04</option>
                                </select>
                            </div>
                            <ul class="page-pagination pull-right">
                                <li><a href="#"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;PREV</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">NEXT&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="shop-area centred">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12 shop-column">
                                    <div class="single-item">
                                        <div class="single-item-overlay">
                                            <div class="img-box">
                                                <img src="__STATIC__/images/shop/1.jpg" alt="">
                                                <div class="overlay">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <a href="#" class="btn-one"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;ADD TO CART</a></div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <h5><a href="shop-single.html">Mens Belt</a></h5>
                                            <ul class="star in-block">
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <div class="price">$91.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 shop-column">
                                    <div class="single-item">
                                        <div class="single-item-overlay">
                                            <div class="img-box">
                                                <img src="__STATIC__/images/shop/2.jpg" alt="">
                                                <div class="overlay">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <a href="#" class="btn-one"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;ADD TO CART</a></div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <h5><a href="shop-single.html">Magic Mug</a></h5>
                                            <ul class="star in-block">
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <div class="price">$27.00</div>
                                        </div>
                                        <div class="sale">SALE!</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 shop-column">
                                    <div class="single-item">
                                        <div class="single-item-overlay">
                                            <div class="img-box">
                                                <img src="__STATIC__/images/shop/3.jpg" alt="">
                                                <div class="overlay">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <a href="#" class="btn-one"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;ADD TO CART</a></div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <h5><a href="shop-single.html">Wallets</a></h5>
                                            <ul class="star in-block">
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <div class="delete-price"><del>$48.00</del></div>
                                            <div class="price">$43.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 shop-column">
                                    <div class="single-item">
                                        <div class="single-item-overlay">
                                            <div class="img-box">
                                                <img src="__STATIC__/images/shop/4.jpg" alt="">
                                                <div class="overlay">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <a href="#" class="btn-one"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;ADD TO CART</a></div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <h5><a href="shop-single.html">Men’s Trousers</a></h5>
                                            <ul class="star in-block">
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <div class="price">$84.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 shop-column">
                                    <div class="single-item">
                                        <div class="single-item-overlay">
                                            <div class="img-box">
                                                <img src="__STATIC__/images/shop/5.jpg" alt="">
                                                <div class="overlay">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <a href="#" class="btn-one"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;ADD TO CART</a></div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <h5><a href="shop-single.html">Casual Hat</a></h5>
                                            <ul class="star in-block">
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <div class="price">$35.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 shop-column">
                                    <div class="single-item">
                                        <div class="single-item-overlay">
                                            <div class="img-box">
                                                <img src="__STATIC__/images/shop/6.jpg" alt="">
                                                <div class="overlay">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <a href="#" class="btn-one"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;ADD TO CART</a></div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <h5><a href="shop-single.html">Stylish Glass</a></h5>
                                            <ul class="star in-block">
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <div class="price">$51.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 shop-column">
                                    <div class="single-item">
                                        <div class="single-item-overlay">
                                            <div class="img-box">
                                                <img src="__STATIC__/images/shop/7.jpg" alt="">
                                                <div class="overlay">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <a href="#" class="btn-one"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;ADD TO CART</a></div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <h5><a href="shop-single.html">Casual Wear</a></h5>
                                            <ul class="star in-block">
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <div class="price">$63.00</div>
                                        </div>
                                        <div class="sale">SALE!</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 shop-column">
                                    <div class="single-item">
                                        <div class="single-item-overlay">
                                            <div class="img-box">
                                                <img src="__STATIC__/images/shop/8.jpg" alt="">
                                                <div class="overlay">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <a href="#" class="btn-one"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;ADD TO CART</a></div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <h5><a href="shop-single.html">Stylish Backpack</a></h5>
                                            <ul class="star in-block">
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <div class="price">$52.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 shop-column">
                                    <div class="single-item">
                                        <div class="single-item-overlay">
                                            <div class="img-box">
                                                <img src="__STATIC__/images/shop/9.jpg" alt="">
                                                <div class="overlay">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <a href="#" class="btn-one"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;ADD TO CART</a></div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lower-content">
                                            <h5><a href="shop-single.html">Denim Jeans</a></h5>
                                            <ul class="star in-block">
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
                                            <div class="delete-price"><del>$98.00</del></div>
                                            <div class="price">$94.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="page-pagination centred">
                                <li><a href="#"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;PREV</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#" class="active">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">NEXT&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 sidebar-side">
                    <div class="sidebar-content">
                        <div class="sidebar-filter">
                            <div class="sidebar-title">FILTER BY PRICE</div>
                            <div class="price-bar">
                                <div class="range-slider-price" id="range-slider-price"></div>

                                <div class="form-group price-text clearfix">
                                    <button type="button">Filter</button>
                                    <p>price: $<input type="text" name="price" class="val-box" id="min-value-rangeslider">-&nbsp;&nbsp;&nbsp;$<input type="text" name="price" class="val-box" id="max-value-rangeslider"></p>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-categories">
                            <div class="sidebar-title">SHOP BY CATEGORIES</div>
                            <ul class="categories-list"> 
                                <li><a href="#">Men’s<span>(3)</span></a></li>
                                <li><a href="#">Women’s<span>(8)</span></a></li>
                                <li><a href="#">Accessories<span>(7)</span></a></li>
                                <li><a href="#">Shoes<span>(6)</span></a></li>
                                <li><a href="#">Wallets<span>(9)</span></a></li>
                            </ul>
                        </div>
                        <div class="sidebar-post">
                            <div class="sidebar-title">TOP PRODUCTS</div>
                            <div class="single-post">
                                <div class="img-box"><a href="shop-single.html"><figure><img src="__STATIC__/images/shop/p1.jpg" alt=""></figure></a></div>
                                <h6><a href="shop-single.html">Jeans Trousers</a></h6>
                                <div class="delete-price"><del>$98.00</del></div>
                                <div class="price">$95.00</div>
                            </div>
                            <div class="single-post">
                                <div class="img-box"><a href="shop-single.html"><figure><img src="__STATIC__/images/shop/p2.jpg" alt=""></figure></a></div>
                                <h6><a href="shop-single.html">Life support systems return</a></h6>
                                <div class="price">$48.00</div>
                            </div>
                            <div class="single-post">
                                <div class="img-box"><a href="shop-single.html"><figure><img src="__STATIC__/images/shop/p3.jpg" alt=""></figure></a></div>
                                <h6><a href="shop-single.html">Eoner on a crusade</a></h6>
                                <div class="price">$35.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop-page end -->


    <!-- instagram-section -->
    <section class="instagram-section centred">
        <div class="container">
            <div class="instagram-title">FOLLOW @ INSTAGRAM</div>
            <ul class="instagram-img-list clearfix">
                <li><a href="#"><figure><img src="__STATIC__/images/home/f1.jpg" alt=""></figure></a></li>
                <li><a href="#"><figure><img src="__STATIC__/images/home/f2.jpg" alt=""></figure></a></li>
                <li><a href="#"><figure><img src="__STATIC__/images/home/f3.jpg" alt=""></figure></a></li>
                <li><a href="#"><figure><img src="__STATIC__/images/home/f4.jpg" alt=""></figure></a></li>
                <li><a href="#"><figure><img src="__STATIC__/images/home/f5.jpg" alt=""></figure></a></li>
            </ul>
        </div>
    </section>
    <!-- instagram-section -->
{/block}