 <!-- main footer -->
    <footer class="footer-style-one main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 footer-column">
                    <div class="logo-wideget footer-wideget">
                        <div class="footer-logo">
                            <a href="index.html"><figure><img src="__STATIC__/images/footer/logo1.png" alt=""></figure></a>
                        </div>
                        <div class="text">
                            <p>前面的路还很远，你可能会哭，但是一定要走下去，一定不能停。我们的成熟是由两部分组成，一半是对美好的追求，一半是对残缺的接纳。</p>
                        </div>
                        <ul class="social-style-one">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 footer-column">
                    <div class="footer-post-wideget footer-wideget">
                        <div class="footer-title">RECENT POST</div>
                        <div class="single-post">
                            <div class="img-box"><a href="post1.html"><figure><img src="__STATIC__/images/footer/1.jpg" alt=""></figure></a></div>
                            <h6><a href="post1.html">Fleeing from the Cylon tyre</a></h6>
                            <div class="text">JULY 09, 2018</div>
                        </div>
                        <div class="single-post">
                            <div class="img-box"><a href="post1.html"><figure><img src="__STATIC__/images/footer/2.jpg" alt=""></figure></a></div>
                            <h6><a href="post1.html">Life support systems return</a></h6>
                            <div class="text">August 19, 2018</div>
                        </div>
                        <div class="single-post">
                            <div class="img-box"><a href="post1.html"><figure><img src="__STATIC__/images/footer/3.jpg" alt=""></figure></a></div>
                            <h6><a href="post1.html">Eoner on a crusade</a></h6>
                            <div class="text">November 09, 2018</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 footer-column">
                    <div class="footer-categories-wideget footer-wideget">
                        <div class="footer-title">CATEGORIES</div>
                        <ul class="categories-list"> 
                            <li><a href="#">Beauty<span>(3)</span></a></li>
                            <li><a href="#">Dressing<span>(8)</span></a></li>
                            <li><a href="#">Fitness <span>(7)</span></a></li>
                            <li><a href="#">Lifestyle<span>(6)</span></a></li>
                            <li><a href="#">Travel<span>(9)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- main footer end -->


    <!-- footer bottom -->
    <section class="footer-bottom footer-bottom-one centred">
        <div class="container">
            <div class="copyright">CopyrightS © 2018 <a href="">BELFAST</a>. All rights reserved</div>
        </div>
    </section>
    <!-- footer bottom -->



<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span></div>



<!--jquery js -->
{load file="__JS__/jquery-2.1.4.js"}
{load file="__JS__/bootstrap.min.js"}
{load file="__JS__/owl.carousel.min.js"}
{load file="__JS__/wow.js"}
{load file="__JS__/validation.js"}
{load file="__JS__/jquery.fancybox.pack.js"}
{load file="__JS__/SmoothScroll.js"}
<!--<script src="js/html5lightbox/html5lightbox.js"></script>-->  


{load file="__JS__/script.js"}


